{% extends 'layouts/base.html' %}

{% block title %}File Manager - HyperionOS{% endblock %}

{% block content %}
<script src="/static/js/files/fm_config_ui.js"></script>
<script src="/static/js/files/fm_clipboard_batch.js"></script>
<script src="/static/js/files/fm_editor_media.js"></script>
<script src="/static/js/files/fm_action.js"></script>

<div class="space-y-6 pb-24 relative">
    {% include 'components/files/topbar.html' %}
    {% include 'components/files/paste_bar.html' %}
    {% include 'components/files/file_table.html' %}
</div>

{% include 'components/files/batch_action_bar.html' %}
{% include 'components/files/hidden_forms.html' %}
{% include 'components/files/modals.html' %}
{% endblock %}